.course-component{
    min-width: 250px;
    min-height: 250px;

    margin-right: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.colored-area{
    min-height: 150px;
    border-radius: 5px 5px 0px 0px;
}



.course-details-area{
    max-width: 250px;
    padding: 15px;
    font-size: 12px;
}

#course-details{
    color: #777;
}

.fa-folder, .fa-comments, .fa-file-signature, .fa-bullhorn {
    color: #777;
    font-weight: 1px;
    font-size: 25px;
    right: 5;
    padding: 15px;
}