<html>
<head>
        <title>Canvas</title>
        <link rel="stylesheet" href="assignmentForm.css">
        <!-- <link rel="stylesheet" href="style2.css"> -->
        <!-- Scrollbar Custom CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">  
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div id="assignment_container" class="container">
        <div>
            <h1 id="h1_assignment"> Add Course </h1>
        </div>
        <form>
                <div class="form-row">
                  <div class="form-group col-md-6 form_assignment">
                    <label htmlFor="course_id">Course ID</label>
                    <input type="number" class="form-control " id="course_id" placeholder="Course ID"/>
                  </div>
                  <div class="form-group col-md-6 form_assignment">
                        <label htmlFor="course_name">Course Name</label>
                        <input type="text" class="form-control " id="course_name" placeholder="Course Name"/>
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 form_assignment">
                        <label htmlFor="course_department">Course Department</label>
                        <input type="text" class="form-control " id="course_department" placeholder="Course Department"/>
                    </div>
                    <div class="form-group col-md-6 form_assignment">
                            <label htmlFor="course_description">Course Description</label>
                            <input type="text" class="form-control " id="course_name" placeholder="Course Description"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 form_assignment">
                        <label htmlFor="course_room">Course Room</label>
                        <input type="text" class="form-control " id="course_room" placeholder="Course Room"/>
                    </div>
                    <div class="form-group col-md-6 form_assignment">
                            <label htmlFor="course_capacity">Course Capacity</label>
                            <input type="number" class="form-control " id="course_name" placeholder="Course Capacity"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 form_assignment">
                        <label htmlFor="waitlist_capacity">Course ID</label>
                        <input type="text" class="form-control " id="waitlist_capacity" placeholder="Waitlist Capacity"/>
                    </div>
                    <div class="form-group col-md-6 form_assignment">
                        <label htmlFor="course_term">Course Term</label>
                        <input type="text" class="form-control " id="course_term" placeholder="Course Term"/>
                    </div>
                </div>
              </form>
            </div>
</body>
</html>